.headerOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}

.headerOptions_icon {
    height: 25px !important;
    width: 25px !important;
    object-fit: contain;
}

.headerOptions:hover {
    color: black;
}

.headerOptions_title {
    font-size: 12px;
    font-weight: 400;
}